<html>
    <head>
        <title>BasicWebApp</title>
    </head>
    <body>
        <p>
            <form method="post" action="Calculate/Cal">
                <b>Priciple:</b>
                <input type="text" name="person" required="required"/><p>
                <b>Rate:</b>
                <input type="text" name="person" required="required"/><p>
                <b>Year:</b>
                <input type="text" name="person" required="required"/><p>
                <input type="submit" value="Submit"/>
            </form>
        </p>
    </body>
</html>